{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}
             }
 :deps {}

 :aliases
 {:core {:extra-deps
         {org.clojure/clojure {:mvn/version "1.10.1"}
          ; nrepl {:mvn/version "0.6.0"}
          ; cider/cider-nrepl {:mvn/version "0.21.1"}
          nrepl {:mvn/version "0.5.3"}
          cider/cider-nrepl {:mvn/version "0.18.0"}
          github.seeris/pad {:git/url "https://github.com/seeris/pad"
                             :sha "0fb45fd1d5a9b069a4be61a1439daacec26b35dc"
                             :deps/root "."}}}
  :local {:extra-deps
          {}}
  :mem {:jvm-opts ["-Xms1024m" "-Xmx11998m"]}
  :native-image {:main-opts ["-m clj.native-image app.main"
                             "--initialize-at-build-time"
                        ;      "--enable-url-protocols=http"
                             "--enable-http"
                        ;      "--allow-incomplete-classpath"
                        ;      "-da"
                             "--no-fallback"
                             "--report-unsupported-elements-at-runtime"
                             "-H:Name=app.native"
                             ; "--dry-run"
                             ]
                 :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
                 :extra-deps
                 {clj.native-image
                  {:git/url "https://github.com/taylorwood/clj.native-image.git"
                   :sha "b3823a48be75122b9671c86ce5353a85589ef15f"}}}}
}
