{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}
             }
 :deps {}
 :aliases
 {:core {:extra-deps
         {org.clojure/clojure {:mvn/version "1.10.1"}
          nrepl {:mvn/version "0.6.0"}
          
          org.apache.mxnet.contrib.clojure/clojure-mxnet-linux-gpu {:mvn/version "1.5.1"}
          
        ;   github.seeris/pad {:git/url "https://github.com/seeris/pad"
        ;                      :sha "HEAD"
        ;                      :deps/root "."}
          }
         }
  :local {:extra-deps
          {
           github.seeris/pad {:local/root "/opt/code/pad"}
           }
          }
  }
}
