{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}
             }
 :deps {}
 :aliases
 {:core {:extra-deps
         {org.clojure/clojure {:mvn/version "1.10.1"}
          nrepl {:mvn/version "0.6.0"}
          cider/cider-nrepl {:mvn/version "0.21.1"}
          org.clojure/data.csv {:mvn/version "0.1.4"}
          org.tensorflow/tensorflow {:mvn/version "1.15.0"}
          org.tensorflow/libtensorflow {:mvn/version "1.15.0"}
          org.tensorflow/libtensorflow_jni_gpu {:mvn/version "1.15.0"}
          github.seeris/pad {:git/url "https://github.com/seeris/pad"
                             :sha "884ac514b5c2fdf8bee3e5059f72b206b6991330"
                             :deps/root "."}}}}
}
