
{:source-paths ["src"]
 :dependencies []
 :nrepl {:port 7888}
 :builds {:app {:target :node-script
                :output-to "target/main.js"
                :main app.main/main
                :devtools {:after-load app.main/reload}}}}
