{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}
             }
 :deps {}

 :aliases
 {:core {:extra-deps
         {org.clojure/clojure {:mvn/version "1.10.1"}
          nrepl {:mvn/version "0.6.0"}
          org.clojure/data.xml {:mvn/version "0.0.8"}

          org.apache.mxnet.contrib.clojure/clojure-mxnet-linux-gpu {:mvn/version "1.5.1"}
        ;   org.apache.mxnet/mxnet-full_2.11-linux-x86_64-gpu {:mvn/version "1.5.1"}
        ;   github.seeris/pad {:git/url "https://github.com/seeris/pad"
        ;                      :sha "HEAD"
        ;                      :deps/root "."}
          }}
  :local {:extra-deps
          {github.seeris/pad {:local/root "/opt/code/pad"}
           d2l {:local/root "/opt/root/d2l"}}}
  :mem {:jvm-opts ["-Xms1024m" "-Xmx11998m"]}
  :native-image {:main-opts ["-m clj.native-image lab.main"
                             "--initialize-at-build-time"
                             "--no-fallback"
                        ;      "--report-unsupported-elements-at-runtime"
                             "-H:Name=lab.native"
                        ;      "--dry-run"
                             ]
                 :jvm-opts ["-Dclojure.compiler.direct-linking=true"]
                 :extra-deps
                 {clj.native-image
                  {:git/url "https://github.com/taylorwood/clj.native-image.git"
                   :sha "b3823a48be75122b9671c86ce5353a85589ef15f"}}}}
}
